<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LojaOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LojaOnline.styles.css" asp-append-version="true" />
</head>
<link rel="stylesheet" href="~/css/loja.css" />
<link rel="stylesheet" href="~/css/site.css" />

<body>
    <header class="cabecalho">
        <div class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">RetroStore</a></div>
        <nav class="menu">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Produtos</a>
            <a asp-area="" asp-controller="Carrinho" asp-action="Index">Carrinho</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </nav>
        <div class="header-user-area">
            @if (User.Identity.IsAuthenticated)
            {
                <span class="welcome-user">Bem-vindo, @User.Identity.Name</span>
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="logout-form">
                    <button type="submit" class="btn btn-link sair-btn">Sair</button>
                </form>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                <a asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            }
        </div>
    </header>
    <div class="container-principal">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - LojaOnline1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>